{# {% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Main headline here</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Library books loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for image in discography %}
      <div class="col">
        <img src="img/{{ image }}.jpg" alt="" class="img-fluid">
        <h3><a href="books/{{ book.slug }}.html">{{ book.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for title in discography %}
    <h3>{{ title }}</h3>
    <p>{{ year}}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %} #}

{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Queen's Studio Albums</h1>
  <p>Intro text here.</p>
  <div class="row">
    {% for album in queen.discography %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">{{album.year}}</p>
          <img class="img-fluid" src="img/{{ album.image}}" alt="">
          {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}