
{% extends '_templates/base.njk' %}

{% block content %}
<article id ="background" class="container">
  <h1 id="q">Queens' Studio Albums</h1>
  <p>Take a look at Queens' albums over the years</p>
  <div class="row">
    {% for album in queen.discography %}
    <div class="col-sm-6 col-md-4">
      <div class="card">
      {# style="background-image:img/{{ album.image}}" #}
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">{{album.year}}</p>
          <img id="images" style="width:100%" class="img-fluid" src="img/{{ album.image}}" alt="">
          {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}