{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>About Queen</h1>
      <p>This website is a class project for Intro to Coding for Journalists. It highlights members of the band Queen, as well their albums in chronoligical order.</p>

      <h2>Meet the Members</h2>
        {% for member in queen.members %}
        <a href="members/{{member.slug}}.html">
        {# <img src="../img/{{ member.image }}" id="pic">
        <h3 class="name">{{member.name}} </h3>
        <a href="members/{{member.slug}}.html"> #}
         {# <div class="card-body" display: "inline"> #}
          <img class="img-fluid" src="img/{{ member.image}}" alt="">
          <h5 class="img-fluid" >{{ member.name }}</h5> 
          
         
        {% endfor %}


         {# {% for member in queen.members %}
          <h3 class="name">{{member.name}} </h3>
          <p class="instruments">{{member.instruments}}</p>
          <p class="tenure"> {{member.tenure}}</p>
          <p class="birthplace">{{member.birthplace}}</p>
          <p class="birthdate">{{member.birthdate}}
          <img src="../img/{{ member.image }}" size="50px;" alt="pirate character" class="img-fluid">
          <p class="description">{{member.description}}</p>
        {% endfor %} #}
    </div>
  </div>
</div>
</div>
{% endblock %}