{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>About Queen</h1>
      <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>

      <h2>Meet the Members</h2>
      
          <h3 class="blog-headline"> <a href="members/roger-taylor.html">Roger Taylor</a></h3>
          <p class="blog-date">Drummer</p>
          <img class="img-fluid" src="./img/roger-taylor-bw.jpg" alt="">
          
        
          <h3 class="blog-headline"> <a href="members/brian-may.html">Brian May</a></h3>
          <p class="blog-date">Guitarist</p>
          <img class="img-fluid" src="img/brian-may-bw.jpg" alt="">
        
          <h3 class="blog-headline"> <a href="members/john-deacon.html">John Deacon</a></h3>
          <p class="blog-date">Bass guitarist</p>
          <img class="img-fluid" src="img/john-deacon-bw.jpg" alt="">

          <h3 class="blog-headline"> <a href="members/freddie-mercury.html">Freddie Mercury</a></h3>
          <p class="blog-date">Pianist</p>
          <img class="img-fluid" src="img/freddie-mercury-bw.jpg" alt="">
    </div>
  </div>
</div>
</div>
{% endblock %}