// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


h3 {
  font-size: 1.5rem;
  font-family: Arvo, 'Times New Roman', Times, serif;
  color: red;
}

p {
  font-family: Kalam, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}



// #background {
//   background-color: blue;
// }
body {
  background-color: 	#9e3168;
}
#q {
  color:blue;
  font-family: courier;
}
#pic {
  size: 10px;
}

.img-fluid {
  width: 350px;
  height: 350px;
}

.card {
  background-color: green;
}